
<b><h1 style="color:red">database functioning</h1></b>
<h2> list of key points</h2>
<h3>rails</h3> 
 <h3>index</>
<h3> controller</h3>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %>
    </li>
  <% end %>
</ul>